body {
    background-color: hsl(30, 38%, 92%);
    margin: 0;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 100px;
}

.img2{
    display: none;
}

img {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container-left {
    width: 250px;
    height: 375px;
    float: left;
    margin: 0px;
    padding: 0px;
}

.container-right {
    width: 250px;
    height: 375px;
    float: right;
    margin-left: -10px;
    background-color: hsl(0, 0%, 100%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.product-info {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:stretch;
    margin-left: 10px;
    margin-right: 10px;
}

.product-info h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: hsl(228, 12%, 48%);
}

.product-info h2 {
    
    font-family: 'Fraunces', serif;
    margin-right: 50px;
}

.product-info p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.price section {
    font-family: 'Fraunces', serif;
    font-size: 25px;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
    margin-right: 20px;
}

.price aside {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    text-decoration:line-through;
}

.button {
    margin-top: 20px;
    width: 210px;
    height: 30px;
    background-color: hsl(158, 36%, 37%);
    border-radius: 5px;
    align-items: center;
    text-align: center;

    padding-top: 12px;
}

.button a {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    margin-top: 300px;
    width: 220px;
    height: 40px;

    align-items: center;

    padding-top: 14px;
    padding-bottom: 12px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 5px;
}

.attribution { 
    position: fixed;
    bottom: 10px;
    width: 100%;
    font-size: 11px; 
    text-align: center;
}
.attribution a { color: hsl(228, 45%, 44%); }

.button :active{
    background-color: hsl(212, 21%, 14%);
}
.button :hover {
    background-color: hsl(212, 21%, 14%);
    transition: 0.7s;
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
    }
    .container-left {
        height: 200px;
    }
    .container-right {
        height: 300px;
        margin-left: 0px;
        margin-top: -35px;
        border-top-right-radius: 0px;
    }
    .product-info h2 {
        margin-top: -5px;
        margin-right: 0px;
    }
    .product-info p {
        margin-top: -5px;
    }
    .img1 {
        display: none;
    }
    .img2 {
        display: block;
    }
}